@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
}

@layer base {
  :root {
    --radius: 0.5rem}
}
.prose {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  max-width: 100%;
}

.prose code {
  @apply bg-gray-200 px-1 rounded;
}

.prose pre {
  @apply bg-gray-800 text-white p-4 rounded overflow-x-auto;
}
.prose pre::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #1ec6cc;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background:rgb(28, 106, 208);
}
